@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #070d19;
  color: #eef4ff;
  font-family: "Overpass", sans-serif;
}

.container {
  max-width: 100%;
  padding: 60px 15px 0 15px;
}

.title-dashboard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px 0;
}

.card-estadistica {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  margin: 10px 0;
}

.card-principal {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px 0;
  background-color:#0C1427;
  border-color:#172340;
  padding: 20px;
  }

.card-cloud {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  margin: 10px 0;
}

.card-tables {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  margin: 10px 0;
}

.footer {
  background-color: #070d19;
  color: #ffffff;
  height: 40px;
}

/* modo tablet y pc */
@media screen and (min-width: 770px) {
  .card-estadistica {
    grid-template-columns: repeat(3, 1fr);
  }

  .title-dashboard {
    flex-direction: row;
  }

  .card-principal {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px 0;
  }

  .card-cloud {
    grid-template-columns: 2fr 1fr;
  }

  .card-tables {
    grid-template-columns: 1fr 2fr;
  }

}

@media screen and (max-width: 770px) {
  /* MENU */
  .search-form {
    display: none;
  }
  .navbar .content-left {
    padding-left: 0;
  }
  .sidebar .sidebar-body {
    overflow-y: scroll;
  }
  .nav {
    line-height: 2rem;
  }
  .nav .nav-item {
    font-size: 1rem;
    padding-top: 14px;
  }
  .nav li a {
    font-size: 0.9rem;
  }
  /* Barra scroll Zigor componente7 */
  .card-tables .card-projetcs{
    overflow-x: scroll;
    scrollbar-color: grey ;
  }
}

/* bordes de prueba */
.b-red {
  border: 2px solid red;
  min-height: 200px;
}

.b-lite-green {
  border: 2px solid #15ff00;
}

.b-green {
  border: 1px solid green;
}

.b-blue {
  border: 1px solid blue;
}

.b-gray {
  border: 1px solid gray;
}
